<p-card header="Jovita" subheader="Sistema de información"
        [style]="styleCards"
        styleClass="ui-card-shadow">
  <p-header>
    <img src="assets/images/jovita.jpg" alt="" style="width: 39%; height: 39%">
  </p-header>
  <div>Sistema de información para la famiempresa Jovita</div>
  <p-footer>
    <p-splitButton label="Estado" icon="pi pi-exclamation-triangle" (onClick)="actionEstate()"
                   [model]="items"></p-splitButton>
  </p-footer>
</p-card>

<p-dialog header="Estado Jovita" [(visible)]="display">
  Sistema en desarrollo <br>
  *[x] modulo completo <br>
  *[o] modulo en mantenimiento <br>
  *[ ] modulo en desarrollo <br>
  Modulos: <br>
  [x] Usuarios <br>
  [x] Clientes <br>
  [x] Productos <br>
  [x] Facturas <br>
  [x] Pedidos <br>
  [x] Permisos <br>
  [x] Roles <br>
  [x] Proveedores <br>
  [x] Ofertas de proveedores <br>
</p-dialog>
