<div style="position: sticky; top: 0; z-index: 999">
  <p-menubar [model]="items" [autoDisplay]="false">
    <div class="align-middle">
      <span style="margin-right: 10px">{{usuario.nombre}}</span>
      <img src="../../../assets/images/user.png" height="40" alt=""
           (click)="op1.toggle($event)"/>
      <p-overlayPanel #op1 [style]="{width: 'fit-content'}">
        <button type="button" class="btn btn-light" (click)="logout()">Cerrar sesión</button>
      </p-overlayPanel>
    </div>
  </p-menubar>
</div>
