/** Responsive **/
@media (min-width: 961px) {
  .PFTopLinks {
    display: block
  }

  .selectmenu {
    display: none;
  }

  .mobileLogoCover {
    display: none;
  }
}

@media (max-width: 1140px) {
  #LOGOTEXTSIDE {
    width: auto;
    background: none;
  }

  #LOGOTEXTSIDE span {
    font-size: 24px;
  }

  #PFTopLinksCover .PFTopLinks {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 960px) {
  .PFTopLinks {
    display: none
  }

  .selectmenu {
    display: block;
  }

  .mobileLogoCover {
    display: block
  }
}

@media (max-width: 768px) {
  .doc-table tbody td {
    word-break: break-word;
  }
}
