:root {
  --v1: #007ad9;
  --v2: #116fbf;
  --v3: #005b9f;
  --v4: #333333;
  --v5: #ffffff;
  --v6: #a6a6a6;
  --v7: #212121;
  --v8: #8dcdff;
  --v9: #cccccc;
  --v10: #b7b7b7;
  --v11: #c8c8c8;
  --v12: rgba(0, 0, 0, 0.16);
  --v13: #d8dae2;
  --v14: #848484;
  --v15: #eaeaea;
  --v16: #f4f4f4;
  --v17: #e4018d;
  --v18: #b5019f;
  --v19: #666666;
  --v20: #d0d0d0;
  --v21: #a80000;
  --v22: rgba(0, 0, 0, 0.15);
  --v23: #dadada;
  --v24: #a0a0a0;
  --v25: #34A835;
  --v26: #107D11;
  --v27: #aae5aa;
  --v28: #0C6B0D;
  --v29: #ffba01;
  --v30: #ED990B;
  --v31: #ffeab4;
  --v32: #D38B10;
  --v33: #e91224;
  --v34: #c01120;
  --v35: #f9b4ba;
  --v36: #a90000;
  --v37: #dbdbdb;
  --v38: rgba(0, 0, 0, 0.2);
  --v39: rgba(0, 0, 0, 0.14);
  --v40: rgba(0, 0, 0, 0.12);
  --v41: #e0e0e0;
  --v42: #f9f9f9;
  --v43: #00325a;
  --v44: #7fbcec;
  --v45: #b7d8b7;
  --v46: #ffe399;
  --v47: #f8b7bd;
  --v48: rgba(0, 0, 0, 0.4);
  --v49: rgba(255, 255, 255, 0);
  --v50: rgba(200, 200, 200, 0);
}
