<p-card header="Silub" subheader="Sistema de información"
        [style]="styleCards"
        styleClass="ui-card-shadow">
  <p-header>
    <img src="assets/images/silub.png" alt="">
  </p-header>
  <div>Sistema de información para los laboratorios de la Universidad de Boyacá</div>
  <p-footer>
    <p-splitButton label="Estado" icon="pi pi-exclamation-triangle" (onClick)="actionEstate()"
                   [model]="items"></p-splitButton>
  </p-footer>
</p-card>

<p-dialog header="Estado SILUB" [(visible)]="display">
  Sistema en mantenimiento <br>
  *[x] modulo completo <br>
  *[o] modulo en mantenimiento <br>
  *[ ] modulo en desarrollo <br>
  Modulos: <br>
  [x] Usuarios <br>
  [x] Clientes <br>
  [x] Equipos <br>
  [o] Laboratorios <br>
  [o] Prestamos <br>
  [o] Sanciones <br>
  [o] Mantenimeintos y reparaciones <br>
</p-dialog>
