<p-dialog header="Ingresar" [(visible)]="display" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="false" [baseZIndex]="10000"
          [showHeader]="false"
          [dismissableMask]="true"
          [contentStyle]="{borderColor: 'transparent',backgroundColor: 'transparent'}">
    <form ngNativeValidate (submit)="login()" class="text-center">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Usuario"
                   [(ngModel)]="username" name="username">
        </div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input type="password" pPassword [(ngModel)]="password" name="password"
                   placeholder="Contraseña"/>
        </div>
        <div class="ui-inputgroup">
            <button type="submit" pButton icon="pi pi-sign-in" label="Ingresar"></button>
        </div>
    </form>
</p-dialog>

<div style="width: 100%; text-align: right">
    <button type="button" (click)="showDialog()" pButton icon="pi pi-sign-in" label="Login"></button>
</div>

<div class="row">
    <div class="col-sm text-center">
        <ng-container *ngFor="let p of projects">
            <div class="div-component">
                <p-card header="{{p.name}}" subheader="{{p.type}}"
                        [style]="styleCards"
                        styleClass="ui-card-shadow">
                    <p-header>
                        <a href="{{p.url}}">
                            <img src="{{p.image}}" alt="" style="width: 50%; height: 50%">
                        </a>
                    </p-header>
                    <div>{{p.description}}</div>
                    <p-footer>
                        <p-splitButton label="Estado" icon="pi pi-exclamation-triangle"
                                       (onClick)="p.displaystate = true"
                                       [model]="p.item"></p-splitButton>
                    </p-footer>
                </p-card>

                <p-dialog header="{{p.name}}" [(visible)]="p.displaystate" [style]="{maxWidth: '500px'}">
                    <h3 class="first">Single Sort</h3>
                    <p-table [columns]="cols" [value]="p.values">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                ariaLabelDesc="Activate to sort in descending order"
                                                ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-dialog>
            </div>
        </ng-container>
    </div>
</div>
