<p-card [style]="{width: '250px'}">
  <p>Correo: admin@admin.com</p>
  <p>Contraseña: admin</p>
</p-card>
<div class="text-center">
  <div class="card-login shadow-lg">
    <form ngNativeValidate (submit)="login()">
      <div class="form-group ui-inputgroup">
        <i class="pi pi-inbox"></i>
        <input type="email" class="form-control" placeholder="Correo electrónico"
               [(ngModel)]="email" name="email" required="">
      </div>
      <div class="form-group ui-inputgroup">
        <i class="pi pi-key"></i>
        <input type="password" class="form-control" placeholder="Contraseña"
               [(ngModel)]="password" name="password" required="">
      </div>
      <button type="submit" class="btn btn-light">Ingresar</button>
    </form>
  </div>
</div>
