/* You can add global styles to this file, and also import other style files */
html{
    min-height: 100%;
    min-width: 100%;
}
.fondo {
    height: 100%;
    background-image: url('assets/images/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
