<!--Table-->
<p-table #dt [columns]="cols" [value]="data" selectionMode="single" [(selection)]="selectedRow" [responsive]="true"
         (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [resizableColumns]="true"
         [reorderableColumns]="true"
         [customSort]="true" (sortFunction)="sortNumber($event)">
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col" style="text-align: left">
        <p-button icon="pi pi-file" label="Descargar Excel" (click)="export(dt)"></p-button>
      </div>
      <div class="col" style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Buscar"
               (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container *ngFor="let col of columns">
        <th *ngIf="col.type !== 'multiselect'" [pSortableColumn]="col.field" pResizableColumn
            pReorderableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th *ngIf="col.type === 'multiselect'"></th>
      </ng-container>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.type">
        <input *ngSwitchCase="'text'" style="width: 100%" pInputText type="text"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input *ngSwitchCase="'text-area'" style="width: 100%" pInputText type="text"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <div *ngSwitchCase="'number'">
          Rango: {{(col.values ? col.values[0] : '')}} - {{(col.values ? col.values[1] : '') }}
          <i class="fa fa-close" (click)="col.values=null;dt.filter(null, col.field, col.filterMatchMode)"
             style="cursor:pointer" *ngIf="col.values"></i>
          <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="col.values" [range]="true"
                    [min]="col.min" [max]="col.max"
                    (onSlideEnd)="onFilterNumberChange($event, dt, col)"></p-slider>
        </div>
        <div *ngSwitchCase="'currency'">
          Rango: {{(col.values ? col.values[0] : 0) | currency:'':'symbol':'1.0' }}
          - {{(col.values ? col.values[1] : 0) | currency:'':'symbol':'1.0'}}
          <i class="fa fa-close" (click)="col.values=null;dt.filter(null, col.field, col.filterMatchMode)"
             style="cursor:pointer" *ngIf="col.values"></i>
          <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="col.values" [range]="true"
                    [min]="col.min" [max]="col.max"
                    (onSlideEnd)="onFilterNumberChange($event, dt, col)"></p-slider>
        </div>
        <p-dropdown *ngSwitchCase="'select'" [options]="col.options" [optionLabel]="col.label"
                    [style]="{'width':'100%'}" appendTo="body"
                    (onChange)="onFilterSelectChange($event, dt, col)"></p-dropdown>
        <p-multiSelect *ngSwitchCase="'multiselect'" [options]="col.options" [optionLabel]="col.label"
                       [defaultLabel]="defaultLabel" appendTo="body" [style]="{'width':'100%'}"
                       [panelStyle]="{minWidth:'100%'}"
                       selectedItemsLabel="{0} seleccionados"
                       (onChange)="onFilterMultiselectChange($event, dt, col)"></p-multiSelect>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns" class="text-center">
        <ng-container *ngIf="col.type==='select'">
          {{rowData[col.field] != null ? rowData[col.field][col.label] : ''}}
        </ng-container>
        <ng-container *ngIf="col.type==='multiselect'">
          <ng-container *ngFor="let item of rowData[col.field]">
            {{item[col.label]}}
          </ng-container>
        </ng-container>
        <ng-container *ngIf="col.type==='image'">
          <img [src]="rowData[col.field]?getSantizeUrl(rowData[col.field]):''" alt=""
               style="max-width: 150px; max-height: 150px">
        </ng-container>
        <ng-container *ngIf="col.type==='text'">
          {{rowData[col.field]}}
        </ng-container>
        <ng-container *ngIf="col.type==='number'">
          {{rowData[col.field]}}
        </ng-container>
        <ng-container *ngIf="col.type==='currency'">
          {{rowData[col.field] | currency:'':'symbol':'1.0'}}
        </ng-container>
        <ng-container *ngIf="col.type==='text-area'">
          {{rowData[col.field]}}
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Crear"></button>
    </div>
  </ng-template>
</p-table>
<!--Form-->
<form ngNativeValidate (ngSubmit)="save()">
  <p-dialog header="Proyecto {{row?row.name:''}}" [(visible)]="displayDialog" [responsive]="true"
            showEffect="pide"
            [resizable]="true"
            [draggable]="true"
            [modal]="true" [style]="{maxWidth: '500px'}">
    <div class="ui-g ui-fluid" *ngIf="row">
      <ng-container *ngFor="let c of cols">
        <div *ngIf="c.type === 'text'" class="ui-g-12">
          <div class="ui-g-4">
            <label>{{c.header}}</label>
          </div>
          <div class="ui-g-8">
            <input pInputText [(ngModel)]="row[c.field]" [name]="c.field" [required]="c.required"/>
          </div>
        </div>
        <div *ngIf="c.type === 'number'" class="ui-g-12">
          <div class="ui-g-4">
            <label>{{c.header}}</label>
          </div>
          <div class="ui-g-8">
            <input pInputText type="number" [(ngModel)]="row[c.field]" [name]="c.field" [required]="c.required"/>
          </div>
        </div>
        <div *ngIf="c.type === 'currency'" class="ui-g-12">
          <div class="ui-g-4">
            <label>{{c.header}}</label>
          </div>
          <div class="ui-g-8">
            <input pInputText type="text" currencyMask [options]="optionsCurrencyMask" [(ngModel)]="row[c.field]"
                   [name]="c.field" [required]="c.required"/>
          </div>
        </div>
        <div *ngIf="c.type === 'text-area'" class="ui-g-12">
          <div class="ui-g-4">
            <label>{{c.header}}</label>
          </div>
          <div class="ui-g-8">
                    <textarea [(ngModel)]="row[c.field]" [rows]="5" [cols]="30" pInputTextarea
                              autoResize="autoResize" [name]="c.field" [required]="c.required"></textarea>
          </div>
        </div>
        <div *ngIf="c.type === 'image'" class="ui-g-12">
          <div class="ui-g-4">
            <label>{{c.header}}</label>
          </div>
          <div class="ui-g-4">
            <img [src]="row[c.field]?getSantizeUrl(row[c.field]):''" alt=""
                 style="max-width: 150px; max-height: 150px">
          </div>
          <div class="ui-g-4">
            <p-fileUpload #form name="myfile[]" accept="image/*" customUpload="true" [auto]="true"
                          (uploadHandler)="onUpload($event, row, form)"
                          chooseLabel="Seleccionar" mode="basic"></p-fileUpload>
            <input type="text" style="height: 0; position: relative; top: -30px;z-index: -1"
                   [required]="c.required"
                   [(ngModel)]="row[c.field]"
                   [name]="c.field">
          </div>
        </div>
        <div *ngIf="c.type === 'select'" class="ui-g-12">
          <div class="ui-g-4">
            <label>{{c.header}}</label>
          </div>
          <div class="ui-g-8">
            <p-dropdown [options]="c.options" [(ngModel)]="row[c.field]" placeholder="Seleccionar"
                        optionLabel="{{c.label}}" [showClear]="true" [name]="c.field"></p-dropdown>
            <input type="text" style="height: 0; position: relative; top: -30px;z-index: -1"
                   [required]="c.required"
                   [(ngModel)]="row[c.field]"
                   [name]="c.field">
          </div>
        </div>
        <div *ngIf="c.type === 'multiselect'" class="ui-g-12">
          <div class="ui-g-4">
            <label>{{c.header}}</label>
          </div>
          <div class="ui-g-8">
            <p-multiSelect [name]="c.field" [options]="c.options" optionLabel="{{c.label}}" [(ngModel)]="row[c.field]"
                           selectedItemsLabel="{0} seleccionados"
                           [panelStyle]="{minWidth:'100%'}"></p-multiSelect>
            <input type="text" style="height: 0; position: relative; top: -30px;z-index: -1"
                   [required]="c.required"
                   [(ngModel)]="row[c.field]"
                   [name]="c.field">
          </div>
        </div>
      </ng-container>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="selectedRow" type="button" pButton icon="pi pi-trash" (click)="openToast()"
                label="Eliminar"></button>
        <button type="submit" pButton icon="pi pi-check" label="Guardar"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>
<!--Confirm dialog delete-->
<p-toast position="center" key="c" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="delete()" label="Si" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="closeToast()" label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
